[Desktop Entry]
Name=kring
Name[ca]=kring
Name[ca@valencia]=kring
Name[cs]=kring
Name[da]=kring
Name[de]=kring
Name[el]=kring
Name[en_GB]=kring
Name[es]=kring
Name[et]=kring
Name[fi]=kring
Name[gl]=kring
Name[it]=kring
Name[ko]=kring
Name[nl]=kring
Name[pl]=kring
Name[pt]=kring
Name[pt_BR]=kring
Name[ru]=kring
Name[sk]=kring
Name[sl]=kring
Name[sr]=kring
Name[sr@ijekavian]=kring
Name[sr@ijekavianlatin]=kring
Name[sr@latin]=kring
Name[sv]=kring
Name[tr]=kring
Name[uk]=kring
Name[x-test]=xxkringxx
Name[zh_TW]=kring
Exec=kring
Icon=kring
Type=Application
X-DocPath=kring/index.html
GenericName=A Simple Application written with KDE Frameworks
GenericName[ca]=Una aplicació senzilla escrita amb els Frameworks del KDE
GenericName[ca@valencia]=Una aplicació senzilla escrita amb els Frameworks del KDE
GenericName[da]=Et simpelt program skrevet med KDE Frameworks
GenericName[de]=Eine einfache Anwendung geschrieben mit KDE Frameworks
GenericName[el]=Μια απλή εφαρμογή γραμμένη για το πλαίσιο εργασίας KDE
GenericName[en_GB]=A Simple Application written with KDE Frameworks
GenericName[es]=Una aplicación sencilla escrita con KDE Frameworks
GenericName[et]=Lihtne KDE Frameworksis kirjutatud rakendus
GenericName[fi]=Yksinkertainen KDE Frameworksillä kirjoitettu sovellus
GenericName[gl]=Un aplicativo sinxelo creado coas infraestruturas de KDE
GenericName[it]=Una semplice applicazione grafica scritta con KDE Frameworks
GenericName[ko]=KDE 프레임워크를 사용하는 간단한 프로그램
GenericName[nl]=Een eenvoudige toepassing geschreven met KDE Frameworks
GenericName[pl]=Prosta aplikacja napisana przy wykorzystaniu Szkieletów KDE
GenericName[pt]=Uma Aplicação Simples feita com as Plataformas do KDE
GenericName[pt_BR]=Um aplicativo simples escrito com o KDE Frameworks
GenericName[sk]=Jednoduchá aplikácia napísaná pomocou KDE Frameworks
GenericName[sl]=Preprost program spisan v KDE-jevih ogrodjih
GenericName[sr]=Једноставан програм написан над Радним оквирима КДЕ‑а
GenericName[sr@ijekavian]=Једноставан програм написан над Радним оквирима КДЕ‑а
GenericName[sr@ijekavianlatin]=Jednostavan program napisan nad Radnim okvirima KDE‑a
GenericName[sr@latin]=Jednostavan program napisan nad Radnim okvirima KDE‑a
GenericName[sv]=Ett enkelt program skrivet med KDE:s ramverk
GenericName[uk]=Проста програма, написана за допомогою KDE Frameworks
GenericName[x-test]=xxA Simple Application written with KDE Frameworksxx
GenericName[zh_TW]=一個以 KDE Frameworks 撰寫的簡易應用程式
